.table-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  .ant-pagination {
    padding-top: 20px;
  }
  .ant-table-wrapper table {
    border: 1px solid #ededed;

    .ant-input-group-addon:last-child {
      background: #306dce;
      color: #fff;
    }
  }
  .inner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .otp-heading {
      text-align: left;
      padding-bottom: 30px;
      font-size: 24px;
      font-weight: 700;
      width: 100%;
    }
  }
}
.back-btn {
    .ant-btn {
      color: rgb(255, 255, 255);
      position: absolute;
      background: rgb(48, 109, 206);
      right: 50px;
      top: 50px;
    }
  }
  .logout-btn {
    background: rgb(48, 109, 206);
    position: absolute;
    top: 10px;
    color: #fff;
    right: 50px;
  }